* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px Inter, sans-serif;
  -webkit-font-smoothing: antialised;
  background: #f4f9f9;
  color: #58595b;
}

button {
  width: 32px;
  height: 32px;
  background: #00aeef;
  border: 0;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  filter: brightness(90%);
}
